

.components{
    position:relative;
    margin:1% 0% 1% 1%;
    padding: 1%;
    border: 2px solid black;  
    /* width:8%; */
    height:200px;
   
}
.totControl{
    display: flex;
    flex-wrap: wrap; 
}
.content{
   position: absolute;
    bottom: 0px;
    list-style: none;
    padding-bottom:6%;
    /* margin-left: 50%; */
}
.modify{
    display: flex;
    margin-right: 2%;
}
.view-btn{
    background-color: #5e69ff;
    color: #ffffff;
    padding: 2% 20% 2% 20%;
    border-radius: 6px;
    border : none;
    margin-right: 70%;
    margin-left: -30%;
    cursor: pointer;
}
.align{
 padding: 2%;
}

.css-i4bv87-MuiSvgIcon-root{
   cursor: pointer;
}

.viewForm
{
    width: 120%;
    padding: 3% 5.5% 3% 2%;
    margin-top: 6%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #9d52f3;
    top: 45%;
    left: 50%;
    color: #ffffff;
}

.images{
    width: 100px;
  height: 100px;
  display: flex;
  border: solid #ffffff;
}

.closeview{
    margin-left: 47%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .components {
        position:relative;
       margin-left: 83.5px;
        padding: 1%;
        border: 2px solid black;  
        width:53%;
        height:200px;
        flex-direction: column;
    }
    .view-btn{
        background-color: #5e69ff;
        color: #ffffff;
        /* padding: 2% 20% 2% 20%; */
        border-radius: 6px;
        border : none;
        margin-right: 50%;
        cursor: pointer;
    }

  }
  @media only screen and (min-width: 600px) {
    /* For mobile phones: */
    .components {
        display: flex;
        position:relative;
       margin: 40.5px;
        padding: 1%;
        border: 2px solid black;  
        width:17%;
        height:250px;
        flex-direction: column;
    }}