

.components{
    position:relative;
    margin:1% 0% 1% 1%;
    padding:1%;
    /* border: 2px solid rgb(250, 248, 248);   */
    /* width:8%; */
    height:200px;
    background-color: #ee29ac;
   
}

.totControl{
    display: flex;
    flex-wrap: wrap; 
    
}

.content{
   position: absolute;
    bottom: 0px;
    list-style: none;
    padding-bottom:6%;
    /* margin-left: 24%; */
    margin-top:5%;
}
.title{
    border-radius: 2px;
    border: #9d52f3;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: 0.60;
    /* background-color: #050505; */
    border-radius: 20px;
    padding: 2.5% 10% 2.5% 10%;}
.modify{
    display: flex;
    margin-right: 2%;
    /* padding: 09%; */
}
.view-btn{
    background-color: #5e69ff;
    color: #ffffff;
    padding: 2.5% 30% 2.5% 30%;
    border-radius: 6px;
    border : none;
    font-size: medium;
    margin-right: 50%;
    margin-left: -30%;
    cursor: pointer;
    /* margin-top: 0%; */

}
.align{
 padding: 2%;
}

.css-i4bv87-MuiSvgIcon-root{
   cursor: pointer;
   margin-right:1%;
}

.viewForm
{
    width: 120%;
    padding: 3% 5.5% 3% 2%;
    margin-top: 6%;
    border-radius: 10px ;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(240, 134, 166);
    top: 45%;
    left: 50%;
    color: #050505;
}

.images{
    width: 100px;
  height: 100px;
  display: flex;
  border: solid #ffffff;
  
}

.closeview
{
    margin-left: 47%;
}
.closeview
{
    background-color: rgb(245, 247, 248);
    font-size-adjust: 0.80;
    border: none;
    cursor: pointer;
    margin-left:57%;
}
 
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
   .viewForm
{
    width: 130%;
    height: 0;
    margin-top: 12%;   
}
.images{
    width: 75px;
  height: 50px;
  display: flex;
  border: solid #ffffff;
  
}
    .components {
        position:relative;
       margin-left: 83.5px;
        padding: 1%;
        /* border: 2px solid black;   */
        width:53%;
        height:200px;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 13%;
        margin-top: 4%;
    }
    .css-i4bv87-MuiSvgIcon-root{
        margin-right:1%;
    }
    .view-btn{
        background-color: #5e69ff;
        color: #ffffff;
        /* padding: 2% 20% 2% 20%; */
        border-radius: 6px;
        border : none;
        margin-right: 10%;
        cursor: pointer;
    }
    .title{
        border-radius: 0px;
        padding:0%;
        background-color:hsl(hue, saturation, lightness);
        font-size-adjust: none;
    }
  }
  @media only screen and (min-width: 600px) {
    /* For mobile phones: */
    .images{
        width: 95px;
      height: 95px;
      display: flex;
      border: solid #ffffff;
      
    }
    .css-i4bv87-MuiSvgIcon-root{
        margin-right:20%;
    }
    .view-btn{
        background-color: #5e69ff;
        color: #ffffff;
        /* padding: 2% 20% 2% 20%; */
        border-radius: 6px;
        border : none;
        margin-right: 40%;
        cursor: pointer;
    }
    .components {
        display: flex;
        position:relative;
       margin: 40.5px;
        padding: 1.5%;
        /* border: 2px solid black;   */
        width:23.7%;
        height:250px;
        flex-direction: column;
        border-radius:20px;
    }
}